<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Mari</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Ruari</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Tarlach</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Morrighan</string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>Cichol</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>Triona</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
